


.header{
    background-color:yellowgreen;
    padding-top: 30px;
    padding-bottom: 40px;
  
    
}
.btn{
    background-color: white;
    color: black;
    border: none;
}
.h1{
    font-size: 50px;
}
.second h1{
    margin-top: 50px;
}
.second h4{
margin-top: 30px;
}
.second img{
    height: 200px;
}
.third{
    background-color: yellowgreen;
    margin-top: 70px;
}
.third img{
 margin-top: 30px;
 border-radius: 70px;
 margin-left: 80px;
}